
.header-section{
  background-color: var(--mainSectionBackground);
  color: var(--mainSectionColor);
  position: fixed;
  top: 45px;
  width: 100%;
}
.header-section.shadow{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.header-logo{
  max-width: 150px;
  max-height: 60px;
}

.header-aside a{
  margin-right: 20px;
  color: var(--activeLinkColor);
  opacity: 0.6;
  /*z-index: 20;*/
}
.header-aside a:hover{
  opacity: 1;
}

