<app-form-template
  [mainForm]="changePasswordForm"
  [mainFormDetails]="changePasswordFormDetails"
  [successTextShow]="isSuccessTextVisible"
  [showValidationErrors]="isComponentErrorVisible"
  [connectionProblemVisible]="connectionProblemVisible"
  [errorText]="errorText"
  changeTypeFormLink=""
  submitButtonName = "REGISTRATION-PAGE_SAVE_PASSWORD_BUTTON_NAME"
  (formSubmitEvent)="onSubmit()"
>
  {{ "REGISTRATION-PAGE_SUCCESS_TEXT_AFTER_CHANGE_PASSWORD"|translate }}
  <br>
  <a routerLink="/login">{{"LANDING-SECTION01_LOGIN_LINK"|translate}}</a>
</app-form-template>
