<div class="wave-container" style="display: none">
  <div class="wave1"></div>
  <div class="wave2"></div>
</div>

<section class="main-section">
  <div class="container-landing">

    <div class="main">
      <div class="main-texts">
        <h1>{{"LANDING-SECTION01_HEADER_PART1" | translate}}{{"LANDING-SECTION01_HEADER_PART2" | translate}}</h1>
        <p class="main-texts-describe">{{"LANDING-SECTION01_DESCRIBE_TEXT" | translate}}</p>
        <div class="main-texts-buttons">
          <button class="get-text-button">{{"LANDING-SECTION01_BUTTON_NAME" | translate}}</button>
        </div>
      </div>
      <div class="main-content">
        <div class="main-content-banner">
          <img src="images/banner2.png" class="main-content-banner-img" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
