<app-form-template
  [mainForm]="rememberForm"
  [mainFormDetails]="rememberFormDetails"
  [successTextShow]="isSuccessTextAfterRemember"
  [showValidationErrors]="true"
  [connectionProblemVisible]="connectionProblemVisible"
  [changeTypeFormLink]="changeTypeFormLink"
  submitButtonName="REGISTRATION-PAGE_REMEMBER_BUTTON_NAME"
  (changeTypeFormEvent)="switchTypeForm($event)"
  (formSubmitEvent)="onRememberSubmit()"
>
  {{ "PAGE_SUCCESS_TEXT_AFTER_REMEMBER_PASSWORD"|translate }}
  <br>
  <a routerLink="/login">{{ "LANDING-SECTION01_LOGIN_LINK"|translate }}</a>
</app-form-template>
